$backgroundColor: #e6eaee;

$primary: #3F51B5;
$primaryDark: #303F9F;
$primaryDarker: #283593;

$grey: #9E9E9E;
$greyDark: #616161;
$greyDarker: #424242;

$black: #020202;

$success: #5cb85c;
$danger: #d9534f;
